<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Цитрусовые</title>
    <meta name="viewport" content="width=device-width">
    <style>
    .test{
        width: 100%;
        text-align:  center;
    }
    .center{
        display: inline-block}
    li{
        text-align: left;
    } 
    </style>

</head>
<body>
    <h1 align="center" style="background-color: oldlace">Цитрусовые</h1>
    <p align="center">Данный сайт содержит информацию о трех видах цитрусовых:</p>
    <div class="test">
    <ul class="center" style="list-style-type: square">
        <li><a href="/detail/0">Апельсин</a></li>
        <li><a href="/detail/1">Грейпфрут</a></li>
        <li><a href="/detail/2">Помело</a></li>
    </ul>
    </div>
    <img src="/static/images/Фон.png" width="100%" height="400px">
</body>
</html>